# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.pyc
*.py~
*.html~

.AppleDouble
configs/settings.py
files/media/*
files/static-files/*
*.sublime-project
*.sublime-workspace
venv
deps
build
