{% extends 'pages/base.html' %}
{% load staticfiles %}

{% block title %} NSS IITM {% endblock %}

{% block content %}
    <div class='container pad-top'>
        <div class='row centered'>
            <div class="col-md-6">
                <span class='text-huge'>Who we are ?</span><br />
                The <span class='nss'>NSS of IIT Madras</span> has consciously undergone a series of structural and ideological changes in order to foster creativity and innovation in all its activities. Standing by our motto <span class='bold'>Salvation through Education</span>, we actively promote Projects that are related to the theme of education, though we will support any project related to helping others.
                <br /><br />
                By working out projects from Braille magazines to technology interventions, from teaching children in urban slums to educational video content, <span class='nss'>NSS (IITM)</span> seeks to challenge the mediocre thinking, and reach out into the darkness, to pull a hand into the light.
            </div>
            <div class="col-md-6">
                <span class='text-huge'>Our History</span><br />
                The <span class='nss'>National Service Scheme of IIT Madras</span> was initiated over four decades ago with a vision, a sincere vision to cause benefit to the society, creating in due course a country with equality in thought and opportunity.
                <br /><br />
                We at <span class='nss'>NSS</span> function with a mission to mobilise our nation’s youth into a sect of progressive citizens and imbibe in them an inclination towards social service. As we battle corruption, greed, hunger, poverty, and illiteracy, we hope that one day our country will once again be restored the title of the Golden Bird. To this brilliant future, we commit.
                <br /><br />
                <span class='bold'>India is Calling. Do you hear it?</span>
            </div>
        </div>
    </div>
    <div class='container pad-top'>
        <div class='row centered'>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse width in">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTh">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTh" class="panel-collapse collapse width">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse width">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_css %}
{{ block.super }}
<style type='text/css'>
    .collapse.width {
        position: relative;
        width: 0;
        overflow: hidden;
        -webkit-transition: width 0.35s ease;
        -moz-transition: width 0.35s ease;
        -o-transition: width 0.35s ease;
        transition: width 0.35s ease;
    }
    .collapse.width.in {
        width : auto;
    }
</style>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script type='text/javascript'>
</script>
{% endblock %}
