{% extends 'pages/base.html' %}
{% load staticfiles %}

{% block title %} Projects | NSS IITM {% endblock %}

{% block content %}
    <div class='container pad-top'>
        <div class='row centered'>
            <div class="col-md-3 text-huge">
                <a class="navbar-logo nss pad-right" href="{{ SITE_URL }}"><img src="{% static 'img/nss_logo_medium.png' %}" /></a>
                Projects
            </div>
            <div class="col-xl-9">
                <p>Each initiative of NSS is pursued as a project. These projects run seamlessly throughout it's entire duration and can be taken up by anyone. No previous experience with NSS is required to be part of a project, and anyone can propose new projects. The quality standards of each project is maintained by Project Representatives and the Managerial Team Advisory Committee</p>
            </div>
        </div>
    </div>
    <div class='container pad-top'>
        <div class='row centered'>
            <div class="col-md-12">
                <div>
                    <div class="z-slider-wrapper z-shadows" style="display: block; width: 1138px;">
                        <article id="" class="transition z-accordion" data-role="z-accordion" data-options="{
                            &quot;active&quot; : false,
                            &quot;responsive&quot; : true,
                            &quot;orientation&quot; : &quot;horizontal&quot;,  
                            &quot;theme&quot; : &quot;red&quot;, 
                            &quot;shadows&quot; : true,
                            &quot;bordered&quot; : true, 
                            &quot;slider&quot; : true, 
                            &quot;rounded&quot; : false, 
                            &quot;width&quot; : 1600, 
                            &quot;height&quot; : 420, 
                            &quot;dotNav&quot; : false, 
                            &quot;containerHeight&quot; : 320, 
                            &quot;headerSize&quot; : 68, 
                            &quot;animation&quot; : { 
                                &quot;duration&quot; : 500, 
                                &quot;easing&quot; : &quot;easeInOutQuart&quot;
                            }, 
                            &quot;showIcons&quot; : true,
                            &quot;headerFontSize &quot; : 1.6, 
                            &quot;autoplay&quot; : { 
                                &quot;interval&quot; : 1000000 
                            } 
                        }" role="tablist" style="width: 1138px; height : 298px;">
                            {% for projdet in projectdet_list %}
                                <section class="z-section" aria-hidden="true" aria-expanded="false" aria-selected="false">
                                    <h3 class="z-link" role="tab" tabindex="-1">
                                        <span class="z-title">{{ projdet.name }}</span>
                                        <span class="z-arrow"></span>
                                    </h3>
                                    <div class="z-content" role="tabpanel" aria-hidden="true" aria-expanded="false">
                                        <div class="z-auto-g">
                                            {{ projdet.description }}
                                            <br />
                                            <br />
                                            <a href='#' class='pull-right'>Get more details ...</a>
                                        
                                        </div>
                                    </div>
                                </section>
                            {% endfor %}
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_css %}
{{ block.super }}
<link href="{% static 'css/zozo.css' %}" rel="stylesheet" media="screen">
<style type='text/css'>
</style>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/zozo.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr-zozo.min.js' %}"></script>
<script type='text/javascript'>
</script>
{% endblock %}
