{% extends 'pages/base.html' %}
{% load staticfiles %}

{% block title %} Winterns | NSS IITM {% endblock %}

{% block content %}
    <div class='container pad-top'>
        <div class='row centered'>
            <div class="col-md-3 text-huge">
                <a class="navbar-logo nss pad-right" href="{{ SITE_URL }}"><img src="{% static 'img/nss_logo_medium.png' %}" /></a>
                Winterns
            </div>
            <div class="col-xl-9">
                <p>Every wintern, NSS representatives spend a few days to help various pre-existing organizations in their initiatives to serve the society.</p>
            </div>
        </div>
    </div>
    <div class='container pad-top'>
        <div class="row">
            <div class="col-md-12">
                <div style="" id="demo-tabs-vertical" class="" data-role="z-tab" data-options="{
                    &quot;orientation&quot; : &quot;vertical&quot;, 
                    &quot;style&quot; : &quot;contained&quot;, 
                    &quot;theme&quot; : &quot;red&quot;,
                    &quot;defaultTab&quot; : &quot;tab1&quot;, 
                    &quot;shadows&quot; : true, 
                    &quot;rounded&quot; : false, 
                    &quot;size&quot; : &quot;medium&quot;, 
                    &quot;animation&quot; : {
                        &quot;effects&quot; : &quot;slideV&quot;, 
                        &quot;duration&quot; : 350, 
                        &quot;type&quot; : &quot;css&quot;, 
                        &quot;easing&quot; : &quot;easeOutQuint&quot;
                    }, 
                    &quot;position&quot; : &quot;top-compact&quot;
                }">
                    <ul class="z-tabs-nav z-tabs-mobile" style="display: none;">
                        <li><a class="z-link" style="text-align: left;">
                            <span class="z-title"><i class="icon-desktop">&nbsp;</i>Responsive Tabs</span><span class="z-arrow"></span>
                        </a></li>
                    </ul>
                    <i class="z-dropdown-arrow"></i>
                    <ul class="z-tabs-nav z-tabs-desktop">
                        {% for wint in wintern_list %}
                            <li class="z-tab z-last" data-link="tab6">
                                <a class="z-link"><i class="icon-resize-full baseline">&nbsp;</i>{{ wint.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    
                    
                <div class="z-container" style="height: 269px; min-height: 269px;">
                    {% for wint in wintern_list %}
                        <div class="imgtest z-content z-active" style="position: relative; display: block;"><div class="z-content-inner">
                            <img alt="mobile phone" src="#" style="min-width: 100%; height: auto;" class="hidden">

                            <h4>{{ wint.name }}</h4>
                            {{ wint.description }}
                        </div></div>
                    {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_css %}
{{ block.super }}
<link href="{% static 'css/z-tabs.css' %}" rel="stylesheet" media="screen">
<style type='text/css'>
</style>
{% endblock %}


{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/z-tabs.js' %}"></script>
<script type='text/javascript'>
</script>
{% endblock %}
